// This file contains the styling for the landing page

@use 'shapes';

// Color palette
$white: #E8EEF1;
$lightblue: #6EC4F7;
$blue: #43B0F1;
$darkblue: #057DCD;
$navyblue: #316088;

#home {
    background-color: $blue;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

#title {
    color: white;
    font-size: 15vh;
    z-index: 998;
    position: absolute;
    top: 40vh;
    width: 100vw;
}

nav {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: inline-block;
            margin: 10px 10px;
            font-size: 130%;

            a {
                color: white;
                text-decoration: none;
                transition: color 0.2s ease;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

// Add blur to navigation bar if supported
@supports(backdrop-filter: blur(20px)) {
    nav {
        background-color: #43b0f180;
        backdrop-filter: blur(20px);
    }
}

@supports not (backdrop-filter: blur(20px)) {
    nav {
        background: $blue;
    }
}