// This file contains the styling for the landing page

@use 'shapes';

// Color palette
$white: #E8EEF1;
$lightblue: #6EC4F7;
$blue: #43B0F1;
$darkblue: #057DCD;
$navyblue: #316088;

#home {
    background: $blue;
    width: 100%;
    height: 100vh;
    text-align: center;
}

#title {
    color: white;
    font-size: 15vh;
    z-index: 998;
    position: absolute;
    top: 40vh;
    width: 100vw;
}

#subtitle {
    color: white;
    font-size: 2.7vh;
    z-index: 998;
    position: absolute;
    top: 55vh;
    width: 100vw;
}

nav {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: inline-block;
            margin: 10px 10px;
            font-size: 130%;

            a {
                color: white;
                text-decoration: none;
                transition: color 0.2s ease;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

#icons {
    position: absolute;
    top: 62vh;
    padding: 10px 0;
    width: 100vw;
    z-index: 998;

    a {
        text-decoration: none;
    }

    img {
        display: inline-block;
        margin: 0 10px;
        height: 50px;
        transition: height 0.2s ease;
    }

    img:hover {
        cursor: pointer;
        height: 60px;
    }
}

// Add blur to navigation bar if supported
@supports(backdrop-filter: blur(20px)) {
    nav {
        background-color: #43b0f180;
        backdrop-filter: blur(20px);
    }
}

@supports not (backdrop-filter: blur(20px)) {
    nav {
        background: $blue;
    }
}

@media screen and (max-width: 300px) {
    #title {
        font-size: 10vh;
    }

    #subtitle {
        font-size: 2vh;
        top: 50vh;
    }

    #icons {
        top: 55vh;

        img {
            height: 40px;
            margin: 0 8px;
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 301px) {
    #title {
        font-size: 10vh;
    }

    #subtitle {
        font-size: 2vh;
        top: 50vh;
    }

    #icons {
        top: 55vh;

        img {
            height: 40px;
            margin: 0 8px;
        }
    }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    #subtitle {
        font-size: 2vh;
        top: 50vh;
    }

    #icons {
        top: 53vh;
    }
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
    #title {
        font-size: 12vh;
    }

    #subtitle {
        font-size: 2.4vh;
        top: 52vh;
    }

    #icons {
        top: 56vh;
    }
}