// This file contains the styling for the projects section

// Color palette
$white: #E8EEF1;
$lightblue: #6EC4F7;
$blue: #43B0F1;
$darkblue: #057DCD;
$navyblue: #316088;

#projects {
    background-color: $blue;
    text-align: center;
    color: #FFFFFF;
    padding: 3em;

    .link {
        color: #FFFFFF;
    }
}

#projecttitle {
    font-size: 5vw;
}

#projectlist {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 15% 0px 15%;
}

.project {
    background-color: #FFFFFF;
    color: #1C1C1C;
    width: calc(100% / 3 - 4.5em);
    padding: 1.5em 1.5em 8em 1.5em;
    border-radius: 30px;
    box-shadow: $navyblue 0 0 10px;
    margin: 0.75em;
    min-height: 100%;
    position: relative;

    .link {
        color: $lightblue !important;
    }

    .link:hover {
        text-decoration: underline;
        color: $darkblue !important;
    }

    a {
        text-decoration: none;
    }

    button {
        display: block;
        margin-top: 10px;
        width: 90%;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    h3 {
        color: $lightblue;
        font-size: 200%;
        margin-bottom: 10px;
    }
}

.projectbuttons {
    height: 6em;
    position: absolute;
    bottom: 1.5em;
    width: calc(100% - 3em);
}