@import url(https://fonts.googleapis.com/css?family=Outfit);
.shape {
  position: absolute;
}

@keyframes circle {
  0% {
    top: 70vh;
  }
  50% {
    top: 60vh;
    left: 5%;
  }
  100% {
    top: 70vh;
  }
}
#circle {
  left: 20%;
  top: 70vh;
  width: 4em;
  font-size: 7vh;
  animation: circle 6s ease infinite;
}

@keyframes square {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
#square {
  left: 75%;
  top: 20vh;
  width: 4em;
  font-size: 7vh;
  animation: square 15s linear infinite;
}

@keyframes triangle {
  0% {
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
  }
  20% {
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);
  }
  40% {
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
  }
  60% {
    transform: rotate(25deg);
    -ms-transform: rotate(25deg);
  }
  80% {
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
  }
}
#triangle {
  left: 15%;
  top: 8vh;
  width: 4em;
  font-size: 6vh;
  animation: triangle 21s ease infinite;
}

@keyframes pentagon {
  0% {
    left: 60%;
    top: 60vh;
  }
  50% {
    top: 67vh;
    left: 70%;
    transform: rotate(-15deg);
  }
  100% {
    left: 60%;
    top: 60vh;
  }
}
#pentagon {
  left: 60%;
  top: 60vh;
  width: 4em;
  font-size: 6.5vh;
  animation: pentagon 10s ease infinite;
}

@media screen and (max-width: 300px) {
  #circle {
    font-size: 5vh;
    left: 10%;
  }
  #square {
    font-size: 3vh;
    left: 60%;
  }
  #triangle {
    font-size: 4vh;
    top: 15vh;
    left: 5%;
  }
  #pentagon {
    font-size: 3vh;
    left: 50%;
  }
  @keyframes pentagon {
    0% {
      left: 55%;
      top: 60vh;
    }
    50% {
      top: 67vh;
      left: 63%;
      transform: rotate(-15deg);
    }
    100% {
      left: 55%;
      top: 60vh;
    }
  }
}
@media screen and (max-width: 768px) and (min-width: 301px) {
  #circle {
    font-size: 6vh;
    left: 10%;
  }
  #square {
    font-size: 3.6vh;
    left: 60%;
  }
  #triangle {
    font-size: 5vh;
    left: 5%;
  }
  #pentagon {
    font-size: 3.5vh;
    left: 50%;
  }
  @keyframes pentagon {
    0% {
      left: 55%;
      top: 60vh;
    }
    50% {
      top: 67vh;
      left: 63%;
      transform: rotate(-15deg);
    }
    100% {
      left: 55%;
      top: 60vh;
    }
  }
}
@media screen and (max-width: 1000px) and (min-width: 769px) {
  #square {
    font-size: 4vh;
    left: 70%;
  }
  #pentagon {
    font-size: 4.3vh;
  }
}
#home {
  background: #43B0F1;
  width: 100%;
  height: 100vh;
  text-align: center;
}

#title {
  color: white;
  font-size: 15vh;
  z-index: 998;
  position: absolute;
  top: 40vh;
  width: 100vw;
}

#subtitle {
  color: white;
  font-size: 2.7vh;
  z-index: 998;
  position: absolute;
  top: 55vh;
  width: 100vw;
}

nav {
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 10px 10px;
  font-size: 130%;
}
nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}
nav ul li a:hover {
  text-decoration: underline;
}

#icons {
  position: absolute;
  top: 62vh;
  padding: 10px 0;
  width: 100vw;
  z-index: 998;
}
#icons ul {
  display: flex;
  width: fit-content;
  padding: 0;
}
#icons li {
  display: list-item;
  list-style: none;
  padding: 15px;
}
#icons a {
  text-decoration: none;
}
#icons img {
  height: 50px;
  transition: all 0.2s ease;
}
#icons img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@supports (backdrop-filter: blur(20px)) {
  nav {
    background-color: rgba(67, 176, 241, 0.5019607843);
    backdrop-filter: blur(20px);
  }
}
@supports not (backdrop-filter: blur(20px)) {
  nav {
    background: #43B0F1;
  }
}
@media screen and (max-width: 300px) {
  #title {
    font-size: 10vh;
  }
  #subtitle {
    font-size: 2vh;
    top: 50vh;
  }
  #icons {
    top: 55vh;
  }
  #icons img {
    height: 40px;
    margin: 0 8px;
  }
}
@media screen and (max-width: 768px) and (min-width: 301px) {
  #title {
    font-size: 10vh;
  }
  #subtitle {
    font-size: 2vh;
    top: 50vh;
  }
  #icons {
    top: 55vh;
  }
  #icons img {
    height: 40px;
    margin: 0 8px;
  }
}
@media screen and (max-width: 900px) and (min-width: 769px) {
  #subtitle {
    font-size: 2vh;
    top: 50vh;
  }
  #icons {
    top: 53vh;
  }
}
@media screen and (max-width: 1200px) and (min-width: 901px) {
  #title {
    font-size: 12vh;
  }
  #subtitle {
    font-size: 2.4vh;
    top: 52vh;
  }
  #icons {
    top: 56vh;
  }
}
#about {
  text-align: center;
  padding: 3em;
  background: linear-gradient(360deg, #43B0F1, #43B0F1 25%, transparent 25%, transparent 100%);
}

#abouttitle {
  font-size: 5vw;
  color: #057DCD;
}

#skills {
  width: 60%;
  margin-top: 50px;
}
#skills h2 {
  font-size: 3vw;
  color: #057DCD;
}

#skillset {
  display: flex;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0 0 10px #316088;
}

.skillcard {
  width: 33.3%;
  padding: 1.5em;
  min-height: 100%;
  margin: 0;
  background-color: white;
  transition: all 0.2s ease;
}
.skillcard p {
  margin-bottom: 10px;
}
.skillcard .underline {
  margin-bottom: 0;
}

.skillcard:hover, .skillcard:first-child:hover, .skillcard:last-child:hover {
  cursor: default;
  transform: scale(1.2);
  box-shadow: 0 0 10px #316088;
  border: none;
  border-radius: 30px 30px 30px 30px;
}

.skillcard:first-child {
  border-right: 2px solid #E8EEF1;
  border-radius: 30px 0 0 30px;
}

.skillcard:last-child {
  border-radius: 0 30px 30px 0;
  border-left: 2px solid #E8EEF1;
}

.skilltitle {
  font-size: 200%;
  margin-bottom: 10px;
  color: #43B0F1;
}

@keyframes wiggle {
  0% {
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
  }
  20% {
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);
  }
  40% {
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
  }
  60% {
    transform: rotate(25deg);
    -ms-transform: rotate(25deg);
  }
  80% {
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
  }
}
.skillcard svg {
  width: 2em;
  font-size: 3vh;
  rotate: 25deg;
  margin-bottom: 10px;
  animation: wiggle 10s ease infinite;
}

#projects {
  background-color: #43B0F1;
  text-align: center;
  color: white;
}
#projects .link {
  color: white;
}

#projecttitle {
  font-size: 5vw;
}

* {
  outline: none;
  margin: auto;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body, button {
  font: 100% Outfit, Helvetica, sans-serif;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #43B0F1;
  color: white;
}

button {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.p-btn {
  background-color: #43B0F1;
  color: white;
  transition: background-color 0.2s ease;
}

.p-btn:hover {
  background-color: #057DCD;
}

.p-btn:active {
  background-color: #1E3D58;
}

.s-btn {
  background-color: white;
  color: #43B0F1;
  transition: background-color 0.2s ease;
}

.s-btn:hover {
  background-color: #E8EEF1;
}

.s-btn:active {
  background-color: #057DCD;
  color: white;
}

.link {
  color: #43B0F1;
  transition: color 0.2s ease;
}

.link:hover {
  color: #057DCD;
}

.txt-box {
  border: 3px solid #43B0F1;
  border-radius: 10px;
  padding: 10px;
}

.txt-box::placeholder {
  color: #43B0F1;
}

.underline {
  text-decoration: underline;
  font-weight: 700;
  color: #43B0F1;
}

.description {
  width: 30%;
  margin-top: 30px;
  font-size: 1vw;
}

/*# sourceMappingURL=styles.css.map */
