@import url(https://fonts.googleapis.com/css?family=Outfit);
.shape {
  position: relative;
}

@keyframes circle {
  0% {
    top: 60vh;
  }
  50% {
    top: 50vh;
    left: -20%;
  }
  100% {
    top: 60vh;
  }
}

#circle {
  left: -30%;
  top: 60vh;
  animation: circle 6s ease infinite;
}

@keyframes square {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#square {
  left: 35%;
  top: -10vh;
  animation: square 15s linear infinite;
}

@keyframes triangle {
  0% {
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
  }
  20% {
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);
  }
  40% {
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
  }
  60% {
    transform: rotate(25deg);
    -ms-transform: rotate(25deg);
  }
  80% {
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
  }
}

#triangle {
  left: -30%;
  top: -40vh;
  animation: triangle 21s ease infinite;
}

@keyframes pentagon {
  0% {
    left: 30%;
    top: -10vh;
  }
  50% {
    top: -15vh;
    left: 40%;
    transform: rotate(-15deg);
  }
  100% {
    left: 30%;
    top: -10vh;
  }
}
#pentagon {
  left: 30%;
  top: -10vh;
  animation: pentagon 10s ease infinite;
}

#home {
  background-color: #43B0F1;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

#title {
  color: white;
  font-size: 800%;
  z-index: 998;
  position: absolute;
  top: 40vh;
  width: 100vw;
}

nav {
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 10px 10px;
  font-size: 130%;
}
nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}
nav ul li a:hover {
  text-decoration: underline;
}

@supports (backdrop-filter: blur(20px)) {
  nav {
    background-color: rgba(67, 176, 241, 0.5019607843);
    backdrop-filter: blur(20px);
  }
}
@supports not (backdrop-filter: blur(20px)) {
  nav {
    background: #43B0F1;
  }
}
* {
  outline: none;
  margin: auto;
  scroll-behavior: smooth;
}

body, button {
  font: 100% Outfit, Helvetica, sans-serif;
}

#wrapper {
  overflow: hidden;
}

button {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.p-btn {
  background-color: #43B0F1;
  color: white;
  transition: background-color 0.2s ease;
}

.p-btn:hover {
  background-color: #057DCD;
}

.p-btn:active {
  background-color: #1E3D58;
}

.s-btn {
  background-color: white;
  color: #43B0F1;
  transition: background-color 0.2s ease;
}

.s-btn:hover {
  background-color: #E8EEF1;
}

.s-btn:active {
  background-color: #057DCD;
  color: white;
}

.link {
  color: #43B0F1;
  transition: color 0.2s ease;
}

.link:hover {
  color: #057DCD;
}

.txt-box {
  border: 3px solid #43B0F1;
  border-radius: 10px;
  padding: 10px;
}

.txt-box::placeholder {
  color: #43B0F1;
}

/*# sourceMappingURL=style.css.map */
